#previewIframe{
  margin: 0 5%;
}
.impreseeHeader {
  display:block;
  background: #f8f8f8 no-repeat 8px;
  border: 1px solid #e5e5e5;
  border-left: 2px solid #ea4c00;
  font-size: 16px;
  color: #303030;
  padding: 50px;
}
.admin__menu .level-0.item-impresee > a:before {
  content: url('../images/im-icon08.png');
}


.admin__menu .level-0.item-impresee > a:hover:before  {
  content: url('../images/im-icon07.png');
}
