<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config">
        <plugin name="ImpreseeAI_ImpreseeVisualSearch::addCustomOptions" type="ImpreseeAI\ImpreseeVisualSearch\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="impreseeUpdateAttributes" type="ImpreseeAI\ImpreseeVisualSearch\Model\Plugin\UpdateAttributes" />
    </type>
    <preference for="ImpreseeAI\ImpreseeVisualSearch\Api\CustomerRepositoryInterface"
            type="ImpreseeAI\ImpreseeVisualSearch\Model\Api\CustomerRepository" />
    <preference for="ImpreseeAI\ImpreseeVisualSearch\Api\ResponseCustomerInterface"
            type="ImpreseeAI\ImpreseeVisualSearch\Model\Api\ResponseCustomer" />
</config>
