<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config">
        <plugin name="ImpreseeAI_ImpreseeVisualSearch::addCustomOptions" type="ImpreseeAI\ImpreseeVisualSearch\Plugin\Model\Config" disabled="false"/>
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="ImpreseeAI_ImpreseeVisualSearch::registerSearchFiltersIndex" 
                type="ImpreseeAI\ImpreseeVisualSearch\Plugin\Search\ImpreseeSearchResultsIndexPlugin" 
                sortOrder="1"
                disabled="false"/>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="impreseeInViewEventData" xsi:type="string">ImpreseeAI\ImpreseeVisualSearch\CustomerData\ImpreseeInViewEventData</item>
            </argument>
        </arguments>
    </type>
    <preference for="ImpreseeAI\ImpreseeVisualSearch\Api\CustomerRepositoryInterface"
            type="ImpreseeAI\ImpreseeVisualSearch\Model\Api\CustomerRepository" />
    <preference for="ImpreseeAI\ImpreseeVisualSearch\Api\ResponseCustomerInterface"
            type="ImpreseeAI\ImpreseeVisualSearch\Model\Api\ResponseCustomer" />
</config>
