<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ImpreseeAI_ImpreseeVisualSearch::impresee"
            title="Impresee Search"
            module="ImpreseeAI_ImpreseeVisualSearch"
            sortOrder="10"
            resource="Magento_Backend::content" />
        <!-- the following action moves us to the general configuration screen -->
        <add id="ImpreseeAI_ImpreseeVisualSearch::second_level_config"
            title="Impresee Config"
            module="ImpreseeAI_ImpreseeVisualSearch"
            sortOrder="10"
            action="adminhtml/system_config/edit/impresee/"
            parent="ImpreseeAI_ImpreseeVisualSearch::impresee"
            resource="Magento_Backend::content" />
    </menu>
</config>
