<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Impresee_ImpreseeVisualSearch::impresee"
            title="Impresee Search"
            module="Impresee_ImpreseeVisualSearch"
            sortOrder="10"
            resource="Magento_Backend::content" />
        <add id="Impresee_ImpreseeVisualSearch::second_level_config"
            title="Impresee Config"
            module="Impresee_ImpreseeVisualSearch"
            sortOrder="10"
            action="adminhtml/system_config/edit/impresee/"
            parent="Impresee_ImpreseeVisualSearch::impresee"
            resource="Magento_Backend::content" />
    </menu>
</config>
