<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="orand" translate="label" sortOrder="10">
            <label>Impresee</label>
        </tab>
        <section id="impresee" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Impresee Search Engine</label>
            <tab>orand</tab>
            <resource>ImpreseeAI_ImpreseeVisualSearch::config</resource>
            <group id="header" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Info</label>
                <field id="header" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>ImpreseeAI\ImpreseeVisualSearch\Block\Adminhtml\Header</frontend_model>
                </field>
            </group>
            <group id="datasource" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Instructions</label>
                <field id="datafeed_comment" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <frontend_model>ImpreseeAI\ImpreseeVisualSearch\Block\Adminhtml\DatafeedComment</frontend_model>
                </field>
            </group>
            <group id="api_access" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Access to Magento API</label>
                <comment>Add Impresee as a new integration to have your search bar and insights updated with little delay. We'll use Magento's API thus reducing manual access to the database.</comment>
                <field id="consumer_key" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Consumer key</label>
                </field>
                <field id="consumer_secret" translate="label" type="obscure" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Consumer Secret</label>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Access token</label>
                </field>
                <field id="access_token_secret" translate="label" type="obscure" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Access token secret</label>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Impresee configuration</label>
                <field id="photo_url" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Impresee UUID</label>
                    <comment>UUID given by Impresee, used to track performance metrics for the store and search bar.</comment>
                </field>
            </group>
            
        </section>
    </system>
</config>
